{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}
{{block.super}}
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        $('#id_data > tbody > tr').formset({
            prefix: "data",
            addText: "Add another Field Entry",
            formCssClass: "dynamic-form",
            deleteCssClass: "inline-deletelink",
            deleteText: "Remove",
            emptyCssClass: "empty-form",
        });
    });
})(django.jQuery);
</script>
{% endblock %}

{% block object-tools-items %}
{{ block.super }}
<li><a href="preview/" class="previewlink">{% trans "Preview" %}</a></li>
{% endblock %}
